body{
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
}
header{
    margin: 0;
    padding: 0;
    background-color: #2b357b;
    color: snow;
    font-size: 2em;
    width: 100%;
    box-shadow: 1px 1px 5px #2b357b;
    text-shadow: 1px 5px 8px #000099;
    font-style: italic;
}
div{
    text-align: center;
    width: 30%;
    margin: 15px;
    border: 1px solid #2b357b;
    display: inline-block;
    box-shadow: 1px 1px 5px #2b357b;
}
div h1{
    font-family: arial;
    font-size: 2.5em;
    background-color: #2b357b;
    margin: 0;
    color: snow;
    text-shadow: 1px 5px 8px #000099;
    font-style: italic;
}